@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
/* font-family: 'Fruktur', cursive; */
body{
    min-width: 325px;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /* background-color: #48137c; */
    font-family: 'Fruktur', cursive;
}
.container{
    width: 85%;
    margin: 0 auto;
}
div > img{
    border:none !important;
    background: none !important;
}
header{
    width: 100%;
    min-height: 350px;
    font-family: 'Fruktur', cursive;
}
header div:nth-child(2){
    animation-delay: 500ms;
}
.h1{
    font-size: 50px;
}
.btn {
    color: whitesmoke !important;
    font-size: 25px;
}
.btn:hover{
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
  align-self: flex-end;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  -webkit-animation: jump .5s linear alternate infinite;
}
/* div > p{
    background-color: yellow;
} */
@keyframes jump {
  0%   { transform: translate3d(0,0,0) scale3d(1,1,1); -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); -moz-transform: translate3d(0,0,0) scale3d(1,1,1); -ms-transform: translate3d(0,0,0) scale3d(1,1,1); -o-transform: translate3d(0,0,0) scale3d(1,1,1); }
  100%  { transform: translate3d(0,-30%,0) scale3d(.9,1,1); -webkit-transform: translate3d(0,-30%,0) scale3d(.9,1,1); -moz-transform: translate3d(0,-30%,0) scale3d(.9,1,1); -ms-transform: translate3d(0,-30%,0) scale3d(.9,1,1); -o-transform: translate3d(0,-30%,0) scale3d(.9,1,1); }
}

section{
    min-height: 400px;
    box-sizing: border-box;
}
.aboutme h2{
    animation-delay: 700ms;
}
.aboutme .test div:first-child{
    box-sizing: border-box;
    min-width: 325px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}


.rightstar { 
  position: relative;
  width: 1px;
  height: 1px;
  background-color: white;
  position: fixed;
  animation-name: particleAnimationLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -5;
}

.rightstar::before{ 
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  right: 1px;
  top: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}

.rightstar:nth-of-type(1) { top: 10%; animation-duration: 10s; }
.rightstar:nth-of-type(2) { top: 15%; animation-duration: 5s; }
.rightstar:nth-of-type(3) { top: 25%; animation-duration: 20s; }
.rightstar:nth-of-type(4) { top: 30%; animation-duration: 5s; }
.rightstar:nth-of-type(5) { top: 33%; animation-duration: 19s; }
.rightstar:nth-of-type(6) { top: 45%; animation-duration: 10s; }
.rightstar:nth-of-type(7) { top: 65%; animation-duration: 15s; }
.rightstar:nth-of-type(8) { top: 73%; animation-duration: 16s; }
.rightstar:nth-of-type(9) { top: 80%; animation-duration: 13s; }
.rightstar:nth-of-type(10) { top: 90%; animation-duration: 21s; }


@keyframes particleAnimationLeft {
	from {
		left: -100px;
	}
	to {
		left: calc(100% + 100px);
	}
}